<h1>Comic Arcive</h1>

<% @stocks.each do |stock| %>
  <div class="stock">
    <h2><% stock.name %></h2>
    <p>$<% stock.price %>, <% stock.condition%></p>
    <img scr="<% stock.imagepath %>" alt ="No Image" height="100" width="100">
    <p><% stock.description %></p>
  </div>
<% end %>